---
layout: default
title: Psychological assessment services
description: Dr Francesca is a Clinical Psychologist offering psychological assessment services in the uk (online or face-to-face appointments accepted)

---




    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        
 <!--- 
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        -->

        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="img/mirror_therapy_example_2.png" alt="Psychological asssessment by Dr Francesca" title="Pschological assessment by Dr Francesca, Clinical Psychologist">
            
        </div>
        <div class="carousel-caption">
             
              
              
              <p class="hero-caption">Psychological Assessment Services</p>

                <h1 class="hero-header">Need a psychological assessment to take medication or start cosmetic surgery?</h1>

              <br>
              <button type="button" class="btn btn-default"><a href="#psychologicalassessments">Start here</button></a>
        </div>
      

       
        


    <!--End active

        <div class="item">
            <img src="img/red.png">
    </div>

    -->
    

  </div>
</div>

<div class="jumbotron">
  <img class="drfrapic" src="img/profilephoto_50.png">
  <p class="hero-caption">Psychological Assessment Services</p>

     <h1 class="hero-header">Need a psychological assessment to take medication or to start cosmetic surgery?</h1>
  
     <br>
              <button type="button" class="btn btn-default"><a href="#psychologicalassessments">Start here</button></a>
</div>
  <!--- End slider -->

  <!-- Services Section-->

  <div class="container text-center">
    <a name="psychologicalassessments"></a>
    <div id="serviceBlock">
      
  <h3 id="services"><br></br>Psychological assessment services</h3>
  <!--- Below the col-sm-3 part creates 4 equal columns in bootstrap -->
<br>
<div class="container text-center">
        
     
        
      </div>
  <div class="row">
    <div class="col-sm-6">
      <img src="img/Icon-youth.png" id="icon">
      <h4>Medication & prescriptions</h4>
       <p id="insurers">I accept psychological assessment referrals from dermatologists and other medical professionals, to ascertain the risk to individuals of prescribing medication with known mental health side-effects (e.g. Roaccutane / Accutane for the treatment of acne)  </p>
      
      
    </div>
    <div class="col-sm-6">
      <img src="img/Icon-adults.png" id="icon">
      <h4>Cosmetic surgery</h4>
      <p id="insurers">I accept psychological assessment referrals from medical professionals to ascertain the risk to individuals considering cosmetic surgery</p>
      
     
    

       
       
    </div>
    </div>
  </div>
</div>

<br>
<div id="ThankyouBlock">
<br>
<h3 id="thankyous">Book a psychological assessment</h3>
<div class="container text-center">
      <br>
      
      <p class="testimonials">Get in touch through my <a href="https://drfrancesca.co.uk/contact">contact form </a> to book a psychological assessment or to find out more. </p>

       <p class="testimonials"> Medical professionals may also want to reach out to me on <a href="https://www.linkedin.com/in/francesca-mantia-conaty-b8290415a/?originalSubdomain=uk">LinkedIn</a> to discuss your needs.</p>

       <p class="testimonials"> I look forward to working with you! </p>
       <br>
</p>
    </div>
 </div>

<!--- Thankyou notes section-->

  <div id="serviceBlock">
  <div class="container-fluid text-center">
    <br>
    <h3 id="thankyous">Thank-you notes</h3>
  <!--- Below the col-sm-4 part creates 3 equal columns in bootstrap -->
  

  <div class="row">
    <div class="col-sm-4">
      <br>
      
      <p class="testimonials"> "Dr Francesca was very friendly and professional and my dermatologist was satisfied with the detailed psychological assessment she provided"</p>
      
   
<!---if you want to add name/title 
    <section class="col-sm-12">First name/ Surname <img src="img/Icon-adults.png" alt="..." class="img-referral"><br>Service type </section>
    
-->
    </div>


    <div class="col-sm-4">
      <br>
      
      <p class="testimonials">“Very welcoming. Made me feel comfortable instantly. Would definitely recommend...”
</p>
    </div>

    <div class="col-sm-4">
      <br>
      <p class="testimonials">“Very helpful and professional!”
</p>
    </div>
    
      
    <br>   
    </div>
  </div>
</div>

</div>
</div>
<br>

 <!-- Hero Section-->
 


<div id="VideoBlock">
<div class="container text-center">
  <div class="row">
    
      <h2 id="videoIntro">COVID-19 tips</h2>
      
<br></br>

    </div>
    <div class="row">
    <div>
    <div>

<div class="youtube-responsive-container">

<iframe width="560" height="315" src="https://www.youtube.com/embed/Z0Z4tjClYqw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>
</div>
    </div>
  </div>
  
    </div>
  </div>
</div>

<body>
  <br>
  <br>
  <div class="py-5">
    <h3 id="thankyous">From the blog</h3>
    <br>
    <div class="container">
     
        <div class="col-md-4">
          <div class="card">
            <div class="card-block"> 
              <p class="card-text p-y-1">{% for post in site.posts limit:1 %}
    <a href="{{ site.baseurl }}{{ post.url }}">
    
    
    <div> {% assign truncatedContent = '' %}
 			{% assign paragraphs = post.content | split:'</p>' %}
    		{% for paragraph in paragraphs limit: 5 %}
    		{{ truncatedContent | append: paragraph }}
    		{{ truncatedContent | append: '</p>' }}

    		{% endfor %}
        <a id="teaser" href="{{ site.baseurl }}{{ post.url }}" > Read more </a>
    		 {% if hasImage %}
  <div class="col-xs-2">
    <img src="{{ site.baseurl }}{{ post.image.feature }}" alt="{{ post.title }}" >

  </div>
  {% endif %}

    </div>
    </a>
  
{% endfor %}</p>


              
            </div>
          </div>
        </div>
        <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card">
            
            <div class="card-block">
              <p class="card-text p-y-1">{% for post in site.posts offset:1 limit:1 %}
   
    <a href="{{ site.baseurl }}{{ post.url }}">
    
    
    <div> {% assign truncatedContent = '' %}

 			{% assign paragraphs = post.content | split:'</p>' %}

 			
    		{% for paragraph in paragraphs limit: 4 %}
    		{{ truncatedContent | append: paragraph }}
    		{{ truncatedContent | append: '</p>' }}
    		{% endfor %}
<a id="teaser" href="{{ site.baseurl }}{{ post.url }}"> Read more </a>
    		
    		 {% if hasImage %}

  <div class="col-xs-2">
    <img src="{{ site.baseurl }}{{ post.image.feature }}" alt="{{ post.title }}" >

  </div>
  {% endif %}



    </div>
    </a>
  </li>
{% endfor %}</p>
              <a href="#" class="card-link"></a>
              <a href="#" class="card-link"></a>
            </div>
          </div>
        </div><div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card">
            
            <div class="card-block">
              <p class="card-text p-y-1">{% for post in site.posts offset:2 limit:1 %}
    
    <a href="{{ site.baseurl }}/{{ post.url }}">
    <div> {% assign truncatedContent = '' %}
 			{% assign paragraphs = post.content | split:'</p>' %}
    		{% for paragraph in paragraphs limit: 4 %}
    		{{ truncatedContent | append: paragraph }}
    		{{ truncatedContent | append: '</p>' }}
    		{% endfor %}
    		 {% if hasImage %}
  <div class="col-xs-2">
    <img src="{{ site.baseurl }}{{ post.image.feature }}">
  </div>
  {% endif %}
<a id="teaser" href="{{ site.baseurl }}{{ post.url }}"> Read more </a>
    </div>
    </a>
  </li>
{% endfor %}</p>
              <a href="#" class="card-link"></a>
              <a href="#" class="card-link"></a>
            </div>
          </div>
        </div>

    </div>
</div>
</div>
</div>

    <br>
      
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
</body>


</body>
</html>


<!--- Bootstrap core javascript - placed at the end of the document so pages load faster-->

<script src="js/smooth-scroll.polyfills.min.js"></script>
<script>
  var scroll = new SmoothScroll('a[href*="#"]');
</script>