<div class="container">
  </div>
<footer>

  <div id=footerwrapper class="container-fluid">

    <div class="row">
      <div id=footercopy class="col-sm-4">

        <p id=footerparagraph>Dr Francesca Mantia-Conaty | Clinical Psychologist | <br>HCPC registration PYL29750</p>
        <p id=footerparagraph>Accepting appointments in Moseley<br> and central Birmingham</p>

      </div>
      <div id=footercopy class="col-sm-4">

        <h4>Connect</h4>
        <a href="https://www.linkedin.com/in/francesca-mantia-conaty-b8290415a/?originalSubdomain=uk" class="fa fa-linkedin"></a>
        <a href="https://www.youtube.com/channel/UCcieJrf2jOmITxXjYmkjUNg" class="fa fa-youtube"></a>

      </div>
      <div id=footercopy class="col-sm-4">

          <p id=footerparagraph><a href="/privacypolicy">Privacy policy</a> | <a class="termslink" href="/termsofservice">
          Terms of service</a> | <a href="/cookiepolicy">
          Cookie policy</a></p>
          <p id=footerparagraph>© Dr Francesca Mantia, <script>document.write(new Date().getFullYear())</script><p>



    </div>
    </div>

  </footer>
