

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159323774-1">gtag('config', 'AW-986332829')</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-159323774-1');
</script>

  <title>Dr Francesca</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e47e42b661f630012fb1b7b&product=inline-share-buttons&cms=website' async='async'></script>

 
</head>



<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand" href="#"><img id="logo" src="{{ site.url }}/img/Dr_Francesca logo.png" alt="Dr Francesca | Clinical Psychologist logo" title="Dr Francesca, Clinical Psychologist"></a>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">


    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
    <li><a href="/about" {% if page.url == "/about.html" %}class="active"{% endif %}>About</a></li>
    <li><a href="/contact" {% if page.url == "/contact.html" %}class="active"{% endif %}>Contact</a></li>
    <li><a href="/blog" {% if page.url == "/blog.html" %}class="active"{% endif %}>Blog</a></li>
  </ul>
</nav>
           
        
       

  {{content}}
   
</div>
</div>
</div>


<footer class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <section id="address">
      <h4 id=Contact>
      The Oaktree Clinic</h4>
      <br>
      <p id="insurers">Oaktree Clinic | 52 Frederick Road | Birmingham B15 1HN
    </section>
      </div>




 <div class="container text-center">     
 <div class="col-sm-4">
        <h4>Connect</h4>
        <a href="https://www.linkedin.com/in/francesca-mantia-conaty-b8290415a/?originalSubdomain=uk" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
    </div>

     <div class="col-sm-4">
      <section id="termslinks">
        <br>
      <p><a class="termslink" href="/privacypolicy">Privacy policy</a> | <a class="termslink" href="/termsofservice">
      Terms of service</a></p>
      <p id="insurers">© Dr Francesca Mantia-Conaty, <script>document.write(new Date().getFullYear())</script></p>

      <br>
      
    </section>
      </div>

  </div>

</footer>

</body>
</html>


<!--- Bootstrap core javascript - placed at the end of the document so pages load faster-->

<script src="js/smooth-scroll.polyfills.min.js"></script>
<script>
  var scroll = new SmoothScroll('a[href*="#"]');
</script>