

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159323774-1">gtag('config', 'AW-986332829')</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-159323774-1');
</script>



  <meta charset="utf-8">
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href='https://fonts.gstatic.com' crossorigin>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/contactwidget.css">
  <link rel="stylesheet" href="/styles/footerstyles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


 <!-- Cookie Consent by https://www.CookieConsent.com -->
<script type="text/javascript" src="//www.cookieconsent.com/releases/3.1.0/cookie-consent.js"></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({"notice_banner_type":"simple","consent_type":"express","palette":"light","language":"en","website_name":"Dr Francesca","cookies_policy_url":"https://drfrancesca.co.uk/cookiepolicy.html"});
});
</script>

<!-- Google Analytics -->
<script type="text/plain" cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id=UA-159323774-1">gtag('config', 'AW-986332829')</script>
<script type="text/plain" cookie-consent="tracking">
<!-- end of Google Analytics-->

<!-- Unnamed script -->
<script type="text/plain" cookie-consent="functionality">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-159323774-1');
</script>
<!-- end of Unnamed script-->

<noscript>ePrivacy e GPDR consent by <a href="https://www.CookieConsent.com/" rel="nofollow noopener">Cookie Consent</a></noscript>
<!-- End Cookie Consent by https://www.CookieConsent.com -->
</head>



<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand" href="#"><img id="logo" src="{{ site.url }}/img/Dr_Francesca logo italian.png" alt="Dr Francesca | Clinical Psychologist logo" title="Clinical Psychologist | Dr Francesca Mantia-Conaty "></a>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">


    <li><a href="/">Inglese</a></li>


  </ul>
</nav>




  {{content}}

</div>
</div>
</div>

{% include footeritalian.html %}

</body>
</html>
